.tutor-section {
    padding: 32px;
    margin: 32px 0 12px 0;
    text-align: center;
    background-color: white;
}
.dt-title-content {
    margin: 0 0 64px 0;
}
.dt-title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: .7px;
}
.dt-title > span {
    position: relative;
}
.dt-title span::before {
    content: '';
    position: absolute;
    width: 64%;
    height: 4px;
    background-color: #9D2553;
    border-radius: 8px;
    left: 0;
    bottom: -12px;
}
.dt-description {
    margin: 64px auto -48px;
    text-align: center;
    color: rgb(77, 75, 75);
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    letter-spacing: .8px;
    line-height: 1.8rem;
}
ul {
    list-style-position: inside; 
    padding-left: 0;
    margin-left: 0;
}
li {
    margin-top: 4px;
    margin-bottom: 0px;
}
  
/* Responsive */
@media screen and (max-width: 1000px) {
    .tutor-section {
        padding-bottom: 0;
        margin: 16px 0 0 0;
    }
    .dt-title-content {
        margin: 0 0 32px 0;
    }
    .dt-description {
        margin: 32px auto 4px;
        font-size: 20px;
        line-height: 1.6rem;
    }
    .dt-title {
        font-size: 32px;
    }
}
@media screen and (max-width: 700px) {
    .tutor-section {
        padding-bottom: 0;
        margin: 0;
    }
    .dt-title-content {
        margin: 0 0 16px 0;
    }
    .dt-description {
        font-size: 12px;
        line-height: 1rem;
    }
    .dt-title {
        font-size: 22px;
    }
}